.Home {
    background: black;
    text-align: -webkit-center;
    color: wheat;
}

.Homeimg{

}
.HeaderHome{
    font-size: x-large;
    font-weight: bolder;
    align-items: center;
    margin-left: 7%;
    font-style: italic;
    
}
.img1 {
    height: 360px;
    width: 460px;
    margin-left: 15%;
    position: absolute;
}
.img1x {
    height: 360px;
    width: 460px;
    margin-right: 15%;
    position: absolute;
    display: block;
    transform: scalex(-1);
    
}

.img2 {
    height: 300px;
    width: 300px;
    border-radius: 100%;
}   
.imgtext{
    flex: 1;
    padding: 0 20px;
}
.Pillars{
    background-color: sienna;;

}
.homeDiv{
    width: min-content;
    display: inline-block;
    margin: 5%;
}