.nav-navbar{
    background-color:sienna;
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Vertically center align items */
    height: 50px;
}

.nav-navbar-container{
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Vertically center align items */
    
}
.navbar-logo-img{
    height: 100px;
    width: 100px;
    display: flex;
    
}
.navbar-logo-img2{
    height: 100px;
    width: 100px;
    display: flex; 
    margin-left: 230px; 
    
}
.nav-links{
    margin-right: -100px; /* Add some margin between nav items */

}
.nav-links{
    text-decoration: none; /* Remove default underline */
    color: black; /* Set the color of nav links */
    font-weight: bold; /* Make the font bold */
    font-size: larger;
    /* min-inline-size: -webkit-fill-available; */
    margin-left: 450px;
}    