
.Portfolio {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    background-color: black;
    color: white;
}
.PortImg {
    max-width: 360px;
    height: auto;
    margin-bottom: 0px;
    margin-right: 0%;
    margin-left: 0%;
    position: relative;
    right: 10%;
}
.SystemTools{
    flex: 1;
    border: 1px;
    box-sizing: 10px;
    list-style: none;  
}
.softwareTools {
    display: table-column-group;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 2;
    margin-top: 100%;
    list-style: none;
    padding: 0%;
    margin: 0%;
    
}
.PlContainer {
    display: flex;
    flex-direction: column; 
    /* align-items: flex-start; */
    margin-left: 10%;
    position: relative;
    right: 10%;
}
.quote2{
    font-style: italic;
    margin-left: 80px;
    font-size: large;
}

.header2{
    font-size: 1.5rem;
    color: blue;
}
.header3 {
    font-size: 1.5rem;
    color:black;
    margin-bottom: 1px;
    height: min-content;
    color: blue;
    display: flex;
}

.DevPro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.WireFrame{
    width: 100%;
    height: auto;
}

.WorkFlow {
    width: 100%;
    height: auto;
}

.wireFrameTxt{
    color: #666;
    margin-top: auto; 
}
.WorkFlowTxt {
    color: #666;
    margin-top: auto; 
}

.cardanchored {
    background-color: white;
    width: 20rem;
    height: min-content;
    border-radius: 30px;
    font-size: large;
}

.cardanchored div {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-left: 10%;
    position: relative;
    right: 0%;
}

.cardHeader {
    font-size: 1.1rem;
    color: blue
}

.EcomWeb{
    color:blue;
    margin-top: 0%;
    font-size: large;
}

.EcomWebTxt {
    color: black;
    margin-top: 0%;
    font-size: large;
}

.Portbutton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: grey
}

.button:hover {
    background-color:gray
}
/* .SystemTools{
    width: fit-content;
    display: grid;

}
.softwareTools{
    width: fit-content;
    display: grid; 
    grid-template-columns: auto auto;
 
} */
/* .cardanchored {
    width: 25%;
    background-color: grey
}
.cardHeader {
    color:brown;
    margin-left: 15%;
}
.EcomWeb{
    color: brown;
    padding-top: 10rem;
}
.EcomWebTxt{
    padding-bottom: 15%;
} */